@model DrogSystem.Models.Presentation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Presentation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PresentationType.NombrePresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentationType.NombrePresentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantPresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantPresentacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PresentationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
