@model DrogSystem.Models.ProductPresentationPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductPresentationPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Presentation.PresentationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentation.PresentationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailProductId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrecioProductoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
