@model DrogSystem.Models.PaymentProvider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider.NombreTercero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.NombreTercero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
