@model IEnumerable<DrogSystem.Models.PaymentProvider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provider.NombreTercero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.NombreTercero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Pago }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Pago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Pago })
        </td>
    </tr>
}

</table>
