@{
    ViewBag.Title = "Home Page";
}

    <link href="~/Content/Fontawesome/all.css" rel="stylesheet" /> <!--load all styles -->
    <script src="~/Scripts/fontawesome/all.js"></script>

<div class="row">
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Sales")' class="btn btn-primary btn-lg"> <i class="fas fa-cash-register fa-7x"></i> <br />Ventas - Facturación </a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Products")' class="btn btn-primary btn-lg"> <i class="fas fa-capsules fa-7x"></i> <br />    Productos    </a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "ProductDetails")' class="btn btn-primary btn-lg"> <i class="fas fa-barcode fa-7x"></i> <br />Detalle Productos</a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "ProductPresentationPrices")' class="btn btn-primary btn-lg"> <i class="fas fa-dollar-sign fa-7x"></i> <br />Precio de Productos</a>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Entries")' class="btn btn-primary btn-lg"> <i class="fas fa-dolly fa-7x"></i> <br />Ingreso de Productos</a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Markers")' class="btn btn-primary btn-lg"> <i class="fas fa-city fa-7x"></i> <br /> Fabricantes </a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Providers")' class="btn btn-primary btn-lg"> <i class="fas fa-handshake fa-7x"></i> <br /> Terceros </a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "PaymentProviders")' class="btn btn-primary btn-lg"> <i class="fas fa-hand-holding-usd fa-7x"></i> <br />Pago a Terceros</a>
    </div>
</div>
<br />
<hr />
<br />

<div class="row">    
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Presentations")' class="btn btn-primary btn-lg"> <i class="fas fa-dice fa-7x"></i> <br /> Presentación </a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Index", "Users")' class="btn btn-primary btn-lg"> <i class="fas fa-users-cog fa-7x"></i> <br />  Usuarios  </a>
    </div>
    
</div>