@model DrogSystem.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserType.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
